


<h1> Placeholder for game#show view </h1>

<%= link_to 'Click to Join this Game', game_path(@game), :method=> :put %>

<div class="container">
  <div class="topline"></div>
  <div class="row">
    <div class="chessboard">
      <div class="rank-8">
        <div class="white">
          <div class="a8 draggable">
            <%= image_tag "wR.png" %>
          </div>
        </div>
        <div class="black">
          <div class="b8 draggable">  
            <%= image_tag "wN.png" %>
          </div>
        </div>
        <div class=" white">
          <div class="c8 draggable">
            <%= image_tag "wB.png" %>
          </div>
        </div>
        <div class=" black">
          <div class="d8 draggable">
            <%= image_tag "wQ.png" %>
          </div>
        </div>
        <div class=" white">
          <div class="e8 draggable">
            <%= image_tag "wK.png" %> 
          </div>
        </div>
        <div class=" black">
          <div class="f8 draggable">
            <%= image_tag "wB2.png" %>
          </div>
        </div>
        <div class=" white">
          <div class="g8 draggable">
            <%= image_tag "wN2.png" %>
          </div>
        </div>
        <div class=" black">
          <div class="h8 draggable">
            <%= image_tag "wR2.png" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="rank-7">
        <div class="black">
          <div class="a7 draggable">
            <%= image_tag "wP.png" %>
          </div>
        </div>
        <div class="white">
          <div class="b7 draggable">
            <%= image_tag "wP.png" %>
          </div>
        </div>
        <div class=" black">
          <div class="c7 draggable">
            <%= image_tag "wP.png" %>
          </div>
        <div class=" white">
          <div class="d7 draggable">
            <%= image_tag "wP.png" %>
          </div>
        </div>
        <div class=" black">
          <div class="e7 draggable">
            <%= image_tag "wP.png" %>
          </div>
        </div>
        <div class=" white">
          <div class="f7 draggable">
            <%= image_tag "wP.png" %>
          </div>
        </div>
        <div class=" black">
          <div class="g7 draggable">
            <%= image_tag "wP.png" %>
          </div>
        </div>
        <div class=" white">
          <div class="h7 draggable">
            <%= image_tag "wP.png" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="rank-6">
        <div class="white">
          <div class="a6 draggable">
          </div>
        </div>  
        <div class="black">
          <div class="b6 draggable">
          </div>
        </div>
        <div class=" white">
          <div class="c6 draggable">
          </div>
        </div>
        <div class=" black">
          <div class="d6 draggable">
          </div>
        </div>
        <div class=" white">
          <div class="e6 draggable">
          </div>
        </div>
        <div class=" black">
          <div class="f6 draggable">
          </div>
        </div>
        <div class=" white">
          <div class="g6 draggable">
          </div>
        </div>
        <div class=" black">
          <div class="h6 draggable">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="rank-5">
        <div class="black">
          <div class="a5 draggable">
          </div>
        </div>
        <div class="white">
          <div class="b5 draggable">
          </div>
        </div>
        <div class=" black">
          <div class="c5 draggable">
          </div>
        </div>
        <div class=" white">
          <div class="d5 draggable">
          </div>
          </div>
        <div class=" black">
          <div class="e5 draggable">
          </div>
        </div>
        <div class=" white">
          <div class="f5 draggable">
          </div>
        </div>
        <div class=" black">
          <div class="g5 draggable">
          </div>
        </div>
        <div class=" white">
          <div class="h5 draggable">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="rank-4">
        <div class="white">
          <div class="a4 draggable">
          </div>
        </div>
        <div class="black">
          <div class="b4 draggable">
          </div>
        </div>
        <div class=" white">
          <div class="c4 draggable">
          </div>
        </div>
        <div class=" black">
          <div class="d4 draggable">
          </div>
        </div>
        <div class=" white">
          <div class="e4 draggable">
          </div>
        </div>
        <div class=" black">
          <div class="f4 draggable">
          </div>
        </div>
        <div class=" white">
          <div class="g4 draggable">
          </div>
        </div>
        <div class=" black">
          <div class="h4 draggable">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="rank-3">
        <div class="black">
          <div class="a3 draggable">
          </div>
        </div>
        <div class="white">
          <div class="b3 draggable">
          </div>
        </div>
        <div class=" black">
          <div class="c3 draggable">
          </div>
        </div>
        <div class=" white">
          <div class="d3 draggable">
          </div>
        </div>
        <div class=" black">
          <div class="e3 draggable">
          </div>
        </div>
        <div class=" white">
          <div class="f3 draggable">
          </div>
        </div>
        <div class=" black">
          <div class="g3 draggable">
          </div>
        </div>
        <div class=" white">
          <div class="h3 draggable">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="rank-2">
        <div class="white">
          <div class="a2 draggable">
            <%= image_tag "bP.png" %>
          </div>
        </div>
        <div class="black">
          <div class="b2 draggable">
            <%= image_tag "bP.png" %>
          </div>
        </div>
        <div class=" white">
          <div class="c2 draggable">
            <%= image_tag "bP.png" %>
            </div>
        </div>
        <div class=" black">
          <div class="d2 draggable">
            <%= image_tag "bP.png" %>
          </div>
        </div>
        <div class=" white">
          <div class="e2 draggable">
            <%= image_tag "bP.png" %>
            </div>
        </div>
        <div class=" black">
          <div class="f2 draggable">
            <%= image_tag "bP.png"%>
          </div>
        </div>
        <div class=" white">
          <div class="g2 draggable">
            <%= image_tag "bP.png" %>
            </div>
        </div>
        <div class=" black">
          <div class="h2 draggable">
            <%= image_tag "bP.png" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="rank-1">
        <div class="black">
          <div class="a1 draggable">
            <%= image_tag "bR.png" %>
          </div>
        </div>
        <div class="white">
          <div class="b1 draggable">
            <%= image_tag "bN.png"%>
          </div>
        </div>
        <div class=" black">
          <div class="c1 draggable">
            <%= image_tag "bB.png"%>
          </div>
        </div>
        <div class=" white">
          <div class="d1 draggable">
            <%= image_tag "bQ.png"%>
          </div>
        </div>
        <div class=" black">
          <div class="e1 draggable">
            <%= image_tag "bK.png"%>
          </div>
        </div>
        <div class=" white">
          <div class="f1 draggable">
            <%= image_tag "bB.png"%>
          </div>
        </div>
        <div class=" black">
          <div class="g1 draggable">
            <%= image_tag "bN.png"%>
          </div>
        </div>
        <div class=" white">
          <div class="h1 draggable">
            <%= image_tag "bR.png"%>
          </div>      
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-6 col-sm-6">
  <%= form_for @game, url: {action: "forfeit"} do |f| %>
 <%= f.hidden_field :white_player %>
 <%= f.hidden_field :black_player %>
 <%= f.hidden_field :id %>
 <%= f.submit 'Forfeit Game', :class =>'btn btn-danger' %>
<% end %>
</div>

<script>
  $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
});

const position = { x: 0, y: 0 }

interact('.draggable').draggable({
  listeners: {
    start (event) {
      console.log(event.type, event.target)
    },
    move (event) {
      position.x += event.dx
      position.y += event.dy

      event.target.style.transform =
        `translate(${position.x}px, ${position.y}px)`
    },
  }
});

interact('.dropzone')
  .dropzone({
    ondrop: function (event) {
      alert(event.relatedTarget.id
            + ' was dropped into '
            + event.target.id)
    }
  })
  .on('dropactivate', function (event) {
    event.target.classList.add('drop-activated')
  });

</script>
  








