
<h1> Placeholder for game#show view </h1>

<%= link_to 'Click to Join this Game', game_path(@game), :method=> :put %>


<!--I think Donny had a fix for this, so we can add it later. -Kazia -->

  <div class="container">
      <div class="chess-board">
      <div class="row topline"></div>
      <div class="row">
        <div class="rank-8">
          <div class="file-a white">
            <%= image_tag "wR.png" %>
            a8
          </div>
          <div class="file-b black">
            <%= image_tag "wN.png" %>
            b8
          </div>
          <div class="file-c white">
            <%= image_tag "wB.png" %>
            c8
          </div>
          <div class="file-d black">
            <%= image_tag "wQ.png" %>
            d8
          </div>
          <div class="file-e white">
<<<<<<< HEAD
            <%= image_tag "wQ.png" %> 
=======
            <%= image_tag "wK.png" %> 
>>>>>>> fc93c4176ebfbc21495fea944fa9eaef778fe98f
            e8
          </div>
          <div class="file-f black">
            <%= image_tag "wB2.png" %>
            f8
          </div>
          <div class="file-g white">
            <%= image_tag "wN2.png" %>
            g8
          </div>
          <div class="file-h black">
            <%= image_tag "wR2.png" %>
            h8
          </div>
        </div>
      </div>
      <div class="row">
        <div class="rank-7">
          <div class="file-a black">
            <%= image_tag "wP.png" %>
            a7
          </div>
          <div class="file-b white">
            <%= image_tag "wP2.png" %>
            b7
          </div>
          <div class="file-c black">
            <%= image_tag "wP" %>
            c7
          </div>
          <div class="file-d white">
            <%= image_tag "wP" %>
            d7
          </div>
          <div class="file-e black">
            <%= image_tag "wP" %>
            e7
          </div>
          <div class="file-f white">
            <%= image_tag "wP" %>
            f7
          </div>
          <div class="file-g black">
            <%= image_tag "wP" %>
            g7
          </div>
          <div class="file-h white">
            <%= image_tag "wP" %>
            h7
          </div>
        </div>
      </div>
    <div class="row">
      <div class="rank-6">
        <div class="file-a white">
          a6
        </div>
        <div class="file-b black">
          b6
        </div>
        <div class="file-c white">
          c6
        </div>
        <div class="file-d black">
          d6
        </div>
        <div class="file-e white">
          e6
        </div>
        <div class="file-f black">
          f6
        </div>
        <div class="file-g white">
          g6
        </div>
        <div class="file-h black">
          h6
        </div>
      </div>
    </div>
    <div class="row">
      <div class="rank-5">
        <div class="file-a black">
          a5
        </div>
        <div class="file-b white">
          b5
        </div>
        <div class="file-c black">
          c5
        </div>
        <div class="file-d white">
          d5
        </div>
        <div class="file-e black">
          e5
        </div>
        <div class="file-f white">
          f5
        </div>
        <div class="file-g black">
          g5
        </div>
        <div class="file-h white">
          h5
        </div>
      </div>
    </div>
    <div class="row">
      <div class="rank-4">
        <div class="file-a white">
          a4
        </div>
        <div class="file-b black ">
          b4
        </div>
        <div class="file-c white">
          c4
        </div>
        <div class="file-d black">
          d4
        </div>
        <div class="file-e white">
          e4
        </div>
        <div class="file-f black">
          f4
        </div>
        <div class="file-g white">
          g4
        </div>
        <div class="file-h black">
          h4
        </div>
      </div>
    </div>
    <div class="row">
      <div class="rank-3">
        <div class="file-a black">
          a3
        </div>
        <div class="file-b white">
          b3
        </div>
        <div class="file-c black">
          c3
        </div>
        <div class="file-d white">
          d3
        </div>
        <div class="file-e black">
          e3
        </div>
        <div class="file-f white">
          f3
        </div>
        <div class="file-g black">
          g3
        </div>
        <div class="file-h white">
          h3
        </div>
      </div>
    </div>
    <div class="row">
      <div class="rank-2">
        <div class="file-a white">
          <%= image_tag "bP.png" %>
          a2
        </div>
        <div class="file-b black">
          <%= image_tag "bP.png" %>
          b2
        </div>
        <div class="file-c white">
          <%= image_tag "bP.png" %>
          c2
        </div>
        <div class="file-d black">
          <%= image_tag "bP.png" %>
          d2
        </div>
        <div class="file-e white">
          <%= image_tag "bP.png" %>
          e2
        </div>
        <div class="file-f black">
          <%= image_tag "bP.png" %>
          f2
        </div>
        <div class="file-g white">
          <%= image_tag "bP.png" %>
          g2
        </div>
        <div class="file-h black">
          <%= image_tag "bP.png" %>
          h2
        </div>
      </div>
    </div>
    <div class="row">
      <div class="rank-1">
          <div class="file-a black">
            <%= image_tag "bR.png" %>
          </div>
          <div class="file-b white">
            <%= image_tag "bN.png" %>
          </div>
          <div class="file-c black">
            <%= image_tag "bB.png" %>
            c1
          </div>
          <div class="file-d white">
            <%= image_tag "bQ.png" %>
            d1
          </div>
          <div class="file-e black">
            <%= image_tag "bK.png" %>
            e1
          </div>
          <div class="file-f white">
            <%= image_tag "bB.png" %>
            f1
          </div>
          <div class="file-g black">
            <%= image_tag "bN.png" %>
            g1
          </div>
          <div class="file-h white">
            <%= image_tag "bR.png" %>
            h1
          </div>      
      </div>
    </div>
  </div>
</div>
<<<<<<< HEAD
=======
<div class="col-xs-6 col-sm-6">
  <%= form_for @game, url: {action: "forfeit"} do |f| %>
 <%= f.hidden_field :white_player %>
 <%= f.hidden_field :black_player %>
 <%= f.hidden_field :id %>
 <%= f.submit 'Forfeit Game', :class =>'btn btn-danger' %>
<% end %>
</div>

<script>
  $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
</script>
  







>>>>>>> fc93c4176ebfbc21495fea944fa9eaef778fe98f

